<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ninja Gold</title>
	{% load staticfiles %}
  <link rel="stylesheet" href="{% static 'ninjagold/css/styles.css' %}">
	
</head>
<body>
<p>Your Gold: {{total}}</p>

<form action="/gold" method="post">
{% csrf_token %}
	<div><h3>Farm</h3>
		<p>(earns 10-20 golds)</p>
	  	<input type="hidden" name="building" value="farm" />
	  	<input type="submit" value="Find Gold!"/>
	</div> 	
</form> 	
<form action="/gold" method="post">
{% csrf_token %}
	<div><h3>Cave</h3>
		<p>(earns 5-10 golds)</p>
		<input type="hidden" name="building" value="cave" />
		<input type="submit" value="Find Gold!"/>
	</div>
</form> 
<form action="/gold" method="post">
{% csrf_token %}
	<div><h3>House</h3>
		<p>(earns 2-5 golds)</p>
		<input type="hidden" name="building" value="house" />
		<input type="submit" value="Find Gold!"/>
	</div>
</form> 
<form action="/gold" method="post">
{% csrf_token %}
	<div><h3>Casino</h3>
		<p>(earns/takes 0-50 golds)</p>
		<input type="hidden" name="building" value="casino" />
		<input type="submit" value="Find Gold!"/>
	</div>
</form>
<p>Activities:</p>

<div class="box">
{%for x in request.session.activities%}
<p>
	{%for y in x%}
		{{y|safe}}
	{%endfor%}
</p>
{%endfor%}
  
</div>	
</body>
</html>