*{
	margin: 0px;
	padding: 10px;
}
form{
	margin: 10px;
	border: 2px solid black;
	width: 200px;
	height: 120px;
	display: inline-block;
	text-align: center;
	padding-top: 30px;
}
span{
	width: 800px;
	height: 100px;
	overflow: scroll;
	font-size: 14px; 
}
.activities_lost{
	color:red;
	font-size: 16px;
}
.activities{
	color:green;
	font-size: 16px;
}
.box{
	border: 2px solid black;
	width: 850px;
	height: 200px;
	overflow: auto;

}